node_modules/
android/.gradle/
android/app/build/
android/build/
*.iml
.idea/
.vscode/
*.jks
*.keystore
keystore.properties
.env
.DS_Store
coverage/
npm-debug.log*
android/keystore.properties
android/app/*.jks
android/app/*release*.keystore
*.apk
*.aab
