<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <!-- Privacy guarantee: strip INTERNET even if a transitive library declares it. -->
    <uses-permission android:name="android.permission.INTERNET" tools:node="remove"/>
</manifest>
